@import "tailwindcss";

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

html{
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference){
  html{
    scroll-behavior: smooth;
  }
}